# Third-party reference PDFs (e.g., biorxiv downloads) are kept locally for
# reading convenience but not committed, to avoid redistributing copyrighted
# material. The canonical source for the BioReason-Pro paper is:
#   https://doi.org/10.64898/2026.03.19.712954
*.pdf
