PROJECT_ID=test-project-covid-19-277821
PROJECT_NUMBER=1091817516808

LOCATION=${REGION}
ALLOWED_LOCATION=regions/${REGION}
PROVISIONING_MODEL=STANDARD
MACHINE_TYPE=a2-highgpu-1g

AR_REPO=bioreason-smoke
IMAGE_NAME=bioreason-smoke
TAG=20260330

SERVICE_ACCOUNT_NAME=bioreason-batch-runner

BUCKET=gs://test-project-covid-19-277821-bioreason-smoke
INPUT_OBJECT=inputs/tp53-smoketest.json

JOB_PREFIX=bioreason-smoke-tp53
